@font-face {
    font-family: 'barkentina 1';
    src:url('../font/barkentina.otf');
}

@font-face {
    font-family: 'crimson';
    src:url('../font/Montserrat and Crimson Text/crimsontext/CrimsonText-Bold.ttf');
}

@font-face {
    font-family: 'Julis';
    src:url('../font/julius_sans_one/JuliusSansOne-Regular.ttf');
}

body
{

}

p, div.container
{

font-size: 1.25em;
}

h1#acell   
{
text-align:center;
font-family:'Adobe Heiti Std R';
font-size:275%;
word-spacing:10px;
}

h2
{
font-family: 'Julis'; 
font-weight:bold;
word-spacing:10px;
font-size:200%;
}

h3
{
font-family: 'Julis';
font-weight:bold;
font-size:150%;
}

